---
import { Image } from "astro:assets";
import fogarty from "../assets/1-Deborah Fogarty.png";
import finnegan from "../assets/1-Finnegan.jpeg";
import kidsborough from "../assets/1-Kidsborough.jpeg";
import suzanne from "../assets/1-Suzanne.png";

import aops from "../assets/2-AoPS.png";
import bsg from "../assets/2-BSG.png";
import eaglebank from "../assets/2-Eagle Bank.png";
import einsteins from "../assets/2-Einsteins.jpeg";
import kwc from "../assets/2-KWC.png";
import lexfamilydental from "../assets/2-Lexington Family Dental.jpeg";
import potdevin from "../assets/2-Potdevin.png";
import rsm from "../assets/2-RSM.png";
import capstone from "../assets/3-Capstone Mortgage.png";
import gervais from "../assets/3-Gervais.png";

// Did this by using this:
// https://stackoverflow.com/questions/73937028/how-can-we-use-tailwindcss-to-proportionally-scale-an-image-to-always-fit-within
---

<div class="w-5/6 justify-center m-5">
  <div class="flex flex-col justify-center">
    <h1
      class="text-2xl md:text-3xl lg:text-4xl xl:text-4xl font-bold text-balance">
      Frost Sponsors
    </h1>
    <p class="text-lg mt-5">
      To enrich every student's educational and communal experience, we have
      dedicated a budget of $65,000 this year, equivalent to approximately $185
      per student. Our flagship fundraising event, Fiske Frost, is the
      cornerstone of our philanthropic endeavors. Through the generous support
      of sponsors like you, we can fund community events, Curriculum Enrichment
      programs, mini-grants for our dedicated teachers, and the provision of
      vital resources for our school and classrooms.
    </p>
    <h1
      class="text-2xl md:text-3xl lg:text-3xl xl:text-4xl font-bold text-balance my-16 text-center"><u>
      Celebrating Our Partners</u>
    </h1>
    <div
      class="grid grid-flow-row auto-cols-4 md:grid-cols-4 md:grid-flow-col items-center justify-items-center justify-center">
      <div class="mx-2 col-auto">
        <a href="https://finnegandevelopment.com/">
          <Image
            formats={["jpg", "webp"]}
            src={finnegan}
            alt="Finnegan"
            class="object-scale-down max-h-30 m-auto"
          />
        </a>
      </div>
      <div class="mx-2 col-auto">
        <a href="https://www.deborahfogartyhomes.com/">
          <Image
            formats={["jpg", "webp"]}
            src={fogarty}
            alt="Deborah Fogarty"
            class="object-scale-down max-h-30 m-auto"
          />
        </a>
      </div>
      <div class="mx-2 col-auto">
        <a href="https://www.kidsborough.com/">
          <Image
            formats={["jpg", "webp"]}
            src={kidsborough}
            alt="Kidsborough"
            class="object-scale-down max-h-30 m-auto"
          />
        </a>
      </div>
      <div class="mx-2 col-auto">
        <a href="https://suzanneandcompanyre.com/">
          <Image
            formats={["jpg", "webp"]}
            src={suzanne}
            alt="Suzanna & Company"
            class="object-scale-down max-h-30 m-auto"
          />
        </a>
      </div>
    </div>
    <h1
      class="text-2xl md:text-2xl lg:text-3xl lx:text-4xl font-bold text-balance mt-8 justify-start">
      Our Audience
    </h1>
      <ul class="text-lg list-disc list-inside">
        <li>490 subscribers (parents and school faculty)</li>
        <li>231 households and 331 students</li>
        <li>
          Five major community events: 2 partial pay-to-play events, and 3 pay
          to attend events.
        </li>
        <li>
          The newsletter open rate is 150%, and the click-through rate is 17%
        </li>
        <li>The email open rate is 173%</li>
      </ul>
    <div
      class="grid grid-flow-row auto-cols-4 md:grid-flow-col items-center mt-5 justify-items-center justify-center">
      <div class="mr-5 mb-5">
        <a href="https://artofproblemsolving.com/">
          <Image
            formats={["jpg", "webp"]}
            src={aops}
            alt="AoPS"
            class="object-scale-down max-h-14"
          />
        </a>
      </div>
      <div class="mr-5 mb-5">
        <a href="https://www.bethsagergroup.com/">
          <Image
            formats={["jpg", "webp"]}
            src={bsg}
            alt="Beth Sager Group"
            class="object-scale-down max-h-14"
          />
        </a>
      </div>
      <div class="mr-5 mb-5">
        <a href="https://www.bankeagle.com/">
          <Image
            formats={["jpg", "webp"]}
            src={eaglebank}
            alt="Eagle Bank"
            class="object-scale-down max-h-14"
          />
        </a>
      </div>
      <div class="mr-5 mb-5">
        <a href="https://www.einsteinsworkshop.com/">
          <Image
            formats={["jpg", "webp"]}
            src={einsteins}
            alt="Einstein's Workshop"
            class="object-scale-down max-h-14"
          />
        </a>
      </div>
    </div>
    <div
      class="grid grid-flow-row auto-cols-4 md:grid-flow-col items-center mt-5 justify-items-center justify-center w-full">
      <div class="mr-5 mb-5">
        <a href="https://www.massfirm.com//">
          <Image
            formats={["jpg", "webp"]}
            src={kwc}
            alt="Kajko, Weisman & Colasanti, LLP"
            class="object-scale-down max-h-14"
          />
        </a>
      </div>
      <div class="mr-5 mb-5">
        <a href="https://lexfamilydental.com/">
          <Image
            formats={["jpg", "webp"]}
            src={lexfamilydental}
            alt="Lexington Family Dental"
            class="object-scale-down max-h-14"
          />
        </a>
      </div>
      <div class="mr-5 mb-5">
        <a href="https://www.raveis.com/Agent/jackiepotdevin">
          <Image
            formats={["jpg", "webp"]}
            src={potdevin}
            alt="Jackie Potdevin Realtor"
            class="object-scale-down max-h-20"
          />
        </a>
      </div>
      <div class="mr-5 mb-5">
        <a href="https://www.mathschool.com/locations/lexington">
          <Image
            formats={["jpg", "webp"]}
            src={rsm}
            alt="RSM"
            class="object-scale-down max-h-14"
          />
        </a>
      </div>
    </div>
    <p class="text-lg mt-14 text-center">
      <b>Join Us in Making a Difference:</b> If you are interested in sponsoring
      Fiske Frost, please email <a href="mailto:frost@fiskeschoolpto.org"
        >frost@fiskeschoolpto.org</a
      >. To learn more about our sponsorship packages, please click here.
    </p>
  </div>
</div>
